@import '../../static/css/property.less';
@import '../../static/css/variable.less';

*{
  box-sizing: border-box;
}
body{
  background-color: @bodyBgColor;
  .fs(16);
}

//��Ź��õ� �������� ����ʽ
.bg-w{
  background-color: #fff;
}
.c-w{
  color:#fff;
}
.c-r{
  color:red;
}

//����
.f-l{
  float:left;
}
.f-r{
  float:right;
}
.clear{
  clear:both;
}
.clear-fix:after{
  clear:both;
  content: '';
  display: table;
}

//���嶨λ
.p-a{
  position: absolute;
}
.p-r{
  position: relative;
}

//����display
.d-ib{
  display:inline-block;
}
.d-b{
  display: block;
}


//ˮƽ����
.te-l{
  text-align: left;
}
.te-c{
  text-align: center;
}
.te-r{
  text-align: right;
}

//��ֱ����
.ve-t{
  vertical-align: top;
}
.ve-m{
  vertical-align: middle;
}
.ve-b{
  vertical-align: bottom;
}


html,body{
  height:100%;
  width:100%;
  margin: 0;
}

//去掉按钮的外边框
button{
  outline-width: 0;
  border-width: 0;
}
input[type=text]{
  outline-width: 0;
  border-width: 0;
}
ul{
  margin:0;
  padding:0;
}
li{
  list-style:none;
}
h1,h2,h3,h4,h5,h6,p{
  margin: 0;
  padding: 0;
  font-weight: normal;
}

